:root {
  --pfdinreg: 'PFDinReg';
  --pfdinmed: 'PFDinMed';
  
  --colorbg: #ffff;
  --bgtopmenu: #454a4d;
  --colorred: #e70033;
  --colorfooter: #454a4d;

  --textwhite: #ffffff;
  --textblack: #000000;

}