
@import url(fonts.css);
@import url(avarible.css);


*{
	margin: 0;
	padding: 0;
}
ul{
	margin: 0;
	padding: 0;
}
.dflex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
body{
	font-family: var(--pfdinreg);
	color: #333;
	font-size: 18px;
	line-height: 1.25;
	background: var(--colorbg);
	box-sizing: border-box;
}

::-webkit-scrollbar{
    width:7px;
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}
::-webkit-scrollbar-track{
    border-width:0;
}
::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}
.header{
	
}
.header .top{
	background: var(--bgtopmenu);
}

.header .top .top__wrapper{
	
}
.topmenu{

}
.topmenu__tabs{
	display: flex;
	margin: 0;
	padding: 0;
}
.topmenu__tab{
	list-style: none;
}
.topmenu__tab-link{
	padding: 10px 20px;
	color: rgba(255,255,255,.7);
	display: block;
	font-size: 14px;
	transition: .5s;
}
.topmenu__tab-link:hover{
	text-decoration: none;
	background: var(--colorbg);
	color: var(--textblack);
}
.topmenu__tab-link.activ{
	background: #fff;
	color: var(--textblack);
}



.lang{}
.lang .lang__tabs{
	display: flex;
	margin: 0;
}
.lang .lang__tab{
	list-style: none;
	position: relative;
}
.lang .lang__tab-links{
	padding: 10px 10px;
	color: rgba(255,255,255,.7);
	display: block;
	font-size: 14px;
}
.lang .lang__tab-links:hover{
	color:  rgba(255,255,255,1);
}
.lang .lang__tab:first-child:after{
	content: '';
	width: 2px;
	height: 10px;
	position: absolute;
	top: 50%;
	right: 0;
	background: #fff;
	transform: translateY(-50%);
}


.mainmenu{
	position: fixed;
	width: 100%;
	z-index: 10;
	background: var(--colorbg);
	transition: .5s;

}
.sticky{
	 top: 0;
	 left: 0;
	 width: 100%;
	 box-shadow: 1px 4px 15px 2px rgba(130, 67, 79, 0.17);
}
.logo{

}
.logo__link{
	padding: 13px;
	display: block;
}
.menu{
	margin-right: auto;
}
.menu__items{
	display: flex;
	margin: 0;
	padding: 0;
	margin-left: 25px;
}
.menu__item{
	list-style: none;
}
.menu__item-link{
	color: var(--textblack);
	display: block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 44px;
    font-size: 20px;
    font-family: var(--pfdinreg);
    transition: .5s;
	
}
.menu__item-link:hover{
	text-decoration: none;
	color: #e70033;
}





.main{
	background: var(--bgcolor);
}
.slider{
	
}
.top__slider{

}
.top__slider .item{
	overflow: hidden;
	width: 100%;
	height: 90vh;
	position: relative;
}
.top__slider .item .bg__slider{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}
.top__slider .bg__slider img{
	
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.owl-nav, .owl-dots{
	display: none;
}









.plan{
	background: var(--colorred);
	color: var(--textwhite);
}
.plan__wrapper{
	padding: 70px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.plan__title{
	font-size: 30px;
	flex-basis: 30%;
}
.plan__slider{
	flex-basis: 65%;
}
.plan__slider .item{
	padding: 15px 0;
}
.plan__slider .plan__link{
	font-size: 30px;
	color: #fff;
	position: relative;
	display: block;
	text-decoration: none;
	text-align: center;
	transition: .5s;
}
.plan__slider .plan__link:hover{
	transform: scale(1.2);
}
.plan__slider .plan__link:after{
	position: absolute;
	content: '';
	bottom: -10px;
	left: 0;
	height: 3px;
	width: 0;
	background: #fff;
	transition: .5s;
}
.plan__slider .plan__link:hover:after{
	width: 100%;
}


.start{
	background: var(--colorred);
}
.start__wrapper{

}
.box{
	flex-basis: 50%;
	overflow: hidden;
	min-height: 70vh;
}
.box .start__link{
	display: block;
	width: 100%;
	height: 100%;
}
.box .start__img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}




.advantage{
	background: var(--colorred);
	color: var(--textwhite);
}
.advantage__wrapper{
	padding: 50px 0;
}
.advantage__box{
	text-align: center;
	position: relative;
	flex-basis: 24%;
	padding: 40px 0;
	height: 350px;
}
.advantage__box:hover .icon img{
	transform: scale(1.2);
}
.advantage__box:hover .text{
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.advantage__box .text{
	padding: 30px;
	font-size: 26px;
	transition: .5s;
}
.advantage__box:after{
	content: '';
	width: 2px;
	border-radius: 50%;
	height: 80%;
	position: absolute;
	top: 50%;
	right: 0;
	background: #a01c26;
	transform: translateY(-50%);
}
.advantage__box:last-child:after{
	width: 0;
}
.advantage__box .icon{
	min-height: 155px;
	justify-content: center;
	display: flex;
	align-items: center;
}
.advantage__box .icon img{
	width: 90px;
	transition: .5s;
}

.tiles{
}
.tiles__box:hover img{
	transform: scale(1.2);
}
.tiles__box{
	position: relative;
	height: 50vh;
	font-size: 24px;
	color: var(--textwhite); 
	overflow: hidden;
}
.tiles__box img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
	transition: .5s;
}
/*.tiles__box:after{
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(to bottom, transparent 15%, var(--colorfooter));

}*/
.tiles__box p{
	position: absolute;
	z-index: 5;
	top: 70%;
	left: 0;
	padding: 10px 10px 10px 5%;
	width: 80%;
}
.tiles__box p:after{
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	background: rgb(91%, 0%, 20%, .7);
	width: 100%;
	height: 100%;
	z-index: -1;
}


.footer{
	padding: 75px 0 10px 0;
	background: var(--colorfooter);
	color: var(--textwhite);
}
.bottom__menu{
	display: flex;
	flex-wrap: wrap;
}
.bottom__menu .footer__menu{
	flex-basis: 24%;
	padding: 10px;
	margin-left: 1%;
	margin-bottom: 30px;
}
.footer__menu .footer__menu-tabs{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}
.footer__menu .footer__menu-tab{
	list-style: none;
	margin-bottom: 5px;

}
.footer__menu .footer__menu-link{
	color: #999;
	font-size: 16px;
}
.footer__menu .footer__menu-link:hover{
	color: var(--textwhite);
}
.bottom__contact{
	display: flex;
	flex-direction: column;
}
.soc{

}
.soc__title,
.contact__title{
	font-size: 20px;
	margin-bottom: 10px;
}
.soc .soc__tabs{
	display: flex;
	margin-bottom: 15px;
}
.soc .soc__tab{
	list-style: none;

}
.soc .soc__tab-link{
	color: var(--colorwhote);
	padding: 5px;
	margin-right: 5px;
	display: block;
}
.email{
	margin-bottom: 15px;
}
.email a{
	color: #999;
}
.email:hover a{
	color: var(--colorwhote);
}

.contact__num{
	font-size: 24px;
	display: flex;
	align-items: center;
}
.contact__num>span{
	font-size: 8px;
	background: #fff;
	padding: 5px;
	color: #333;
	border-radius: 3px;
	margin-right: 5px;

}
.contact__num>span:last-child{
	margin-right: 0;
	margin-left: 5px;
}

.copyright, .license{
	padding-left: 10px;
	font-size: 14px;
	color: #999;
}


.breadcrumbs{
	margin-top: 65px;
}
.box__breadcrumbs{
	border-top: 2px solid #e8e8eb;
	border-bottom: 2px solid #e8e8eb;
	
}
.box__breadcrumbs-tabs{
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;

}
.box__breadcrumbs-tab{
	list-style: none;
	position: relative;
	padding-right: 10px;
}
.box__breadcrumbs-tab:last-child{
	padding-right: 0;
}
.box__breadcrumbs-tab:after{
	content: ">";
	right: 0;
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
}
.box__breadcrumbs-tab:last-child:after{
	content: "";
}
.box__breadcrumbs-link{
	padding: 10px;
	font-size: 16px;
	color: #000;
	display: block;
}
.box__breadcrumbs-link:hover{
	color: #000;
}





.content{
	
}
.box__content{
	padding: 25px 10px 25px 10px;
}
.box__content-title{
	font-size: 42px;
	margin-bottom: 15px;
}
.box__content-text .red{
	color: red;
}


.mod__tarif{
	margin-bottom: 50px;
}
.modbox__tarif{

}
.mod__tarif-title{
	font-size: 50px;
	padding: 0 0 20px 0;
}
.modbox__tarif-items{
	overflow: hidden;
	display: flex;
}
.tarif-item{
	flex-basis: 50%;
	overflow: hidden;
}
.modimg{
	height: 45vh;
}
.tarif-item img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: .5s;

}
.tarif-item:hover img{
	transform: scale(1.1);
}
.modbox__footer{
	width: 100%;
	display: block;
}
.modbox__footer img{
	max-width: 100%;
}


.box__content{}
.box__content-title{}
.tarif-page{
	font-size: 16px;
}

.content__items{
	margin-bottom: 50px;
	
}
.short{

}
.big{
}


.content__item-title{
	font-size: 24px;
	padding: 10px;
	margin-bottom: 5px;
}
.content__item-img{
	margin-bottom: 25px;
}
.content__item-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.content__item-tabl td{
	padding: 5px;
}
.short .content__item-tabl td:nth-child(1){
	width: 60%;
}
.short .content__item-tabl tr:nth-child(2){
	font-size: 10px;
	color: #999;
}
.short .content__item-tabl tr:nth-child(4){
	font-size: 10px;
	color: #999;
}






@media (max-width: 1140px) {
	
}
@media (max-width: 960px) {
	
}
@media (max-width: 720px){

}
@media (max-width: 540px){
	
}